# ignoring virtual env files
bin/*
etc/*
lib/*
pyvenv.cfg
share/*

# ignoring .pdf documents
references/*

# ignoring datasets and checkpoints
data/.ipynb_checkpoints/*
data/act_len\ labs/.ipynb_checkpoints/*
data/datasets/*
data/act_len\ labs/pyhard/datasets/*

.ipynb_checkpoints/*
