[H]
Name: Lowest Harmfulness Sampling
Measure: Harmfulness
SortBy: feature_Harmfulness
Ascending: True

[U]
Name: Highest Usefulness Sampling
Measure: Usefulness
SortBy: feature_Usefulness
Ascending: False

[H_U]
Name: Lowest H, Highest U Sampling
Measure: H_U
SortBy: feature_Usefulness,feature_Harmfulness
Ascending: False,True

[LSC]
Name: Highest LSC Sampling
Measure: LSC
SortBy: feature_LSC
Ascending: False

[N2]
Name: Lowest N2 Sampling
Measure: N2
SortBy: feature_N2
Ascending: True

[F3]
Name: Lowest F3 Sampling
Measure: F3
SortBy: feature_F3
Ascending: True